# (CI) For checkout external repo contents
CHECKOUT_GITHUB_CONTENT_PAT=

# (CI) For Cloudflare Wrangler deployment
CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_API_TOKEN=

# (CI) For Lighthouse in CI
LHCI_GITHUB_APP_TOKEN=
LHCI_TOKEN=
PUBLIC_LHCI_BASE_URL=

# For Google Analytic
PUBLIC_GOOGLEANALYTIC_ID=
