---
export interface Props {
  href: string;
  className?: string;
}
const { href, className } = Astro.props;
---

<a
  href={href}
  class={`whitespace-nowrap text-center px-8 py-4 rounded-full ring-2 ring-secondary/20 dark:ring-secondary-light/20 hover:bg-primary-200 dark:hover:bg-primary-800 transition-colors ${
    className || ''
  }`}
>
  <slot />
</a>
