---
export interface Props {
  href: string;
  className?: string;
}
const { href, className } = Astro.props;
---

<a
  href={href}
  class={`text-center px-8 py-4 rounded-full text-white bg-gradient-to-br from-accent to-transparent dark:from-accent-light ring-2 ring-accent/20 dark:ring-accent-light/20 whitespace-nowrap ${
    className || ''
  }`}
>
  <slot />
</a>
