---
export interface Props {
  href: string;
}
const { href } = Astro.props;
---

<a
  href={href}
  type="button"
  class="text-white bg-primary-700 hover:bg-primary-800 focus:outline-none focus:ring-4 focus:ring-primary-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
>
  <slot />
</a>
