---
import Sidenote from '@/components/atoms/sidenote/Sidenote.astro'
import * as m from "@/paraglide/messages";
---

<Sidenote type="info">
  <span>
    {m.fun_plane_jackal_enchant()}
  </span>
   <a href="https://github.com/riceball-tw/web-dong-blog">{m.heroic_slow_albatross_soar()}</a>
   <span>
     {m.wacky_zany_ostrich_foster()}
   </span>
</Sidenote>