---
import Sidenote from "@/components/atoms/sidenote/Sidenote.astro";
import { getLocale, useTranslations } from "@/i18n/i18n";

const t = useTranslations(getLocale(Astro.currentLocale));
---

<Sidenote type="info">
  <span>
    {t("fun_plane_jackal_enchant")}
  </span>
   <a href="https://github.com/riceball-tw/web-dong-blog">{t("heroic_slow_albatross_soar")}</a>
   <span>
     {t("wacky_zany_ostrich_foster")}
   </span>
</Sidenote>