---
import Sidenote from '@/components/atoms/sidenote/Sidenote.astro'
import * as m from "@/paraglide/messages";
---

<Sidenote type="info">
  <span>
    {m.fun_plane_jackal_enchant()}
  </span>
   <a href="https://github.com/riceball-tw/web-dong-blog">{m.heroic_slow_albatross_soar()}</a>
   <span>
     {m.wacky_zany_ostrich_foster()}
   </span>
   <a data-cy="feedback-form-link" href="https://n8n-riceball.zeabur.app/form/fd8cd431-9cc9-4828-8e05-239ea9744067" rel="nofollow noreferrer">
    {m.drab_busy_lemming_nail()}
   </a>
</Sidenote>