---
import Sidenote from '@/components/atoms/sidenote/Sidenote.astro'
import * as m from "@/paraglide/messages";
---

<Sidenote type="info">
  <span>
    {m.fun_plane_jackal_enchant()}
  </span>
   <a href="https://github.com/riceball-tw/web-dong-blog">{m.heroic_slow_albatross_soar()}</a>
   <span>
     {m.wacky_zany_ostrich_foster()}
   </span>
   <a href="https://n8n-riceball.zeabur.app/form/c45e24c1-fd0a-4ac0-8a7a-a83c092b0ac2" rel="nofollow noreferrer">
    {m.drab_busy_lemming_nail()}
   </a>
</Sidenote>