---
import BlogBase from '@/layouts/BlogBase.astro';
import Hero from '@/components/app/Hero.astro';
import SpotlightCardsGallery from '@/components/atoms/spotlight-cards-gallery/SpotlightCardsGallery.astro';
import SpotlightPostCard from '@/components/atoms/spotlight-post-card/SpotlightPostCard.astro';
import { Badge } from '@/components/atoms/badge/index.ts'
import Container from '@/components/atoms/container/Container.astro';
import { sortedPostTags, dateSortedLocaleRelatedPosts } from '@/utils/getPosts.ts'
import { defaultLocale } from '@/utils/i18n.ts';
import * as m from "@/paraglide/messages";
import { getRelativeLocaleUrl } from 'astro:i18n';

export async function getStaticPaths() {
  return sortedPostTags.flatMap((tag) => [{ params: { slug: tag }, props: { posts: dateSortedLocaleRelatedPosts(defaultLocale), tags: sortedPostTags } }]);
}

const { slug } = Astro.params;
const { posts, tags } = Astro.props;
const avaliableCurrentTagPosts = posts
  .filter((post) => post.data.tags.includes(slug as string))
  .sort((a, b) => b.data.publishDate.getTime() - a.data.publishDate.getTime());
---

<BlogBase title={m.late_nice_flea_gasp()+slug} description={m.glad_sound_nils_create()}>
  <Hero>
    <div slot="beforeHeadline" class="flex mx-0 md:mx-auto gap-4 md:gap-8">
      <Badge>
        <a data-cy="tags-link" class="flex gap-2 items-center" href={getRelativeLocaleUrl(Astro.currentLocale || defaultLocale, `/post/tags/`)}>
          <span class="flex items-center gap-2">
            <span class="text-base font-bold">#</span>
            <span>{m.mushy_swift_beaver_earn({number: tags.length})}</span>
          </span>
        </a>
      </Badge>
    </div>
    <Fragment slot="headline">{m.late_nice_flea_gasp()+slug}</Fragment>
  </Hero>
  <Container>
    {
      avaliableCurrentTagPosts.length ? <SpotlightCardsGallery>
      {
        avaliableCurrentTagPosts.map((post) => {
          const { data } = post 
          return (
          <SpotlightPostCard
            post={{
              categoryHref: getRelativeLocaleUrl(Astro.currentLocale || defaultLocale, `/post/categories/${post.data.category}/`),
              tagHrefs: post.data.tags.map((tag) => getRelativeLocaleUrl(Astro.currentLocale || defaultLocale, `/post/tags/${tag}/`)),
              slug: post.slug,
              ...data,
            }}
          />
          )
        })
      }
    </SpotlightCardsGallery> :
      <div class="text-center">
        <p class="text-2xl">{m.this_flat_badger_sail()}</p>
      </div>
    }
  </Container>
</BlogBase>
