---
import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content';
import BlogBase from '@/layouts/BlogBase.astro';
import Hero from '@/components/app/Hero.astro';
import CardGallery from '@/components/card/CardGallery.astro';
import PostCard from '@/components/card/PostCard.astro';

export interface Props {
  posts: CollectionEntry<'post'>;
  publishedPosts: CollectionEntry<'post'>[];
}

export async function getStaticPaths() {
  const publishedPosts = await getCollection('post', (post) => (import.meta.env.PROD ? !post.data.isDraft : true));
  const tags = [...new Set(publishedPosts.map((post) => post.data.tags).flat())];
  return tags.flatMap((tag) => [{ params: { slug: tag }, props: { publishedPosts } }]);
}
const { slug } = Astro.params;
const { publishedPosts } = Astro.props;
const avaliableCurrentTagPosts = publishedPosts
  .filter((post) => post.data.tags.includes(slug as string))
  .sort((a, b) => b.data.publishDate.getTime() - a.data.publishDate.getTime());
---

<BlogBase title={`搜尋文章標籤：${slug}`} description={`搜尋文章標籤`}>
  <Hero>
    <Fragment slot="headline">搜尋文章標籤：{slug}</Fragment>
  </Hero>
  <section class="px-4">
    <CardGallery>
      {
        avaliableCurrentTagPosts.map((post) => (
          <PostCard
            post={{
              slug: post.slug,
              featureIcon: post.data.featureIcon,
              titleTC: post.data.titleTC,
              excerpt: post.data.excerpt,
              publishDate: post.data.publishDate,
              themeColor: post.data.themeColor,
              tags: post.data.tags,
              category: post.data.category,
            }}
          />
        ))
      }
    </CardGallery>
  </section>
</BlogBase>
