---
import BlogBase from '@/layouts/BlogBase.astro';
import Hero from '@/components/app/Hero.astro';
import SpotlightCard from '@/components/atoms/spotlight-card/SpotlightCard.astro';
import SpotlightCardsGallery from '@/components/atoms/spotlight-cards-gallery/SpotlightCardsGallery.astro';
import Container from '@/components/atoms/container/Container.astro';
import { sortedPostTags } from '@/utils/getPosts.ts';
---

<BlogBase title={`文章標籤分類`} description={`所有標籤共${sortedPostTags.length}項`}>
  <Hero>
    <Fragment slot="headline">所有標籤共 {sortedPostTags.length} 項</Fragment>
  </Hero>
  <Container>
    <SpotlightCardsGallery>
      {
        sortedPostTags.map((tag) => (
          <ul>
            <li class="text-3xl">
              <SpotlightCard>
                <a data-cy="tag-link" data-astro-prefetch href={`/post/tags/${tag}/`}>{tag}</a>
              </SpotlightCard>
            </li>
          </ul>
        ))
      }
    </SpotlightCardsGallery>
  </Container>
</BlogBase>
