---
import BlogBase from '@/layouts/BlogBase.astro';
import Hero from '@/components/molecules/hero/Hero.astro';
import SpotlightCard from '@/components/atoms/spotlight-card/SpotlightCard.astro';
import SpotlightCardsGallery from '@/components/atoms/spotlight-cards-gallery/SpotlightCardsGallery.astro';
import Container from '@/components/atoms/container/Container.astro';
import { sortedPostTags } from '@/utils/getPosts.ts';
import { defaultLocale } from '@/utils/i18n.ts';
import * as m from "@/paraglide/messages";
import { getRelativeLocaleUrl } from 'astro:i18n';
---

<BlogBase title={m.kind_curly_javelina_aim()} description={m.sea_loud_osprey_reap({number: sortedPostTags.length})}>
  <Hero>
    <Fragment slot="headline">{m.sea_loud_osprey_reap({number: sortedPostTags.length})}</Fragment>
  </Hero>
  <Container>
    <SpotlightCardsGallery>
      {
        sortedPostTags.map((tag) => (
          <ul>
            <li class="text-3xl">
              <SpotlightCard>
                <a data-cy="tag-link" data-astro-prefetch href={getRelativeLocaleUrl(Astro.currentLocale || defaultLocale, `/post/tags/${tag}/`)}>{tag}</a>
              </SpotlightCard>
            </li>
          </ul>
        ))
      }
    </SpotlightCardsGallery>
  </Container>
</BlogBase>
