---
import BlogBase from '@/layouts/BlogBase.astro';
import Hero from '@/components/app/Hero.astro';
import Card from '@/components/card/Card.astro';
import CardGallery from '@/components/card/CardGallery.astro';
import { getCollection } from 'astro:content';

const publishedPosts = await getCollection('post', (post) => (import.meta.env.PROD ? !post.data.isDraft : true));
const tags = [...new Set(publishedPosts.map((post) => post.data.tags).flat())].sort((a, b) =>
  a.localeCompare(b, 'en', { sensitivity: 'base' }),
);
---

<BlogBase title={`文章標籤分類`} description={`所有標籤共${tags.length}項`}>
  <Hero>
    <Fragment slot="headline">所有標籤共 {tags.length} 項</Fragment>
  </Hero>
  <div class="mx-4">
    <CardGallery>
      {
        tags.map((tag) => (
          <ul>
            <li class="text-3xl">
              <Card>
                <a href={`/post/tags/${tag}/`}>{tag}</a>
              </Card>
            </li>
          </ul>
        ))
      }
    </CardGallery>
  </div>
</BlogBase>
