---
export interface Props {
  className?: string;
}
const { className } = Astro.props;
---

<div
  class={`hover:bg-primary-200 hover:text-primary-900 dark:hover:bg-primary-700 dark:hover:text-primary-200 p-1 rounded-lg active:scale-90 transition ${className}`}
>
  <slot />
</div>
