---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<section class="bg-cover bg-center bg-no-repeat px-4 sm:pt-[var(--mainNav-height)]">
  <div class="flex flex-col gap-8 py-32">
    <h1 class="text-center font-black text-4xl md:text-7xl" set:html={title} />
    <slot />
  </div>
</section>
