---
---

<section class="bg-cover bg-center bg-no-repeat px-8 sm:pt-[var(--mainNav-height)] text-left md:text-center">
  <div class="flex flex-col justify-start md:items-center gap-16 py-32">
    <div class="flex flex-col gap-8">
      <slot name="badge" />
      <h1 class="text-4xl font-black md:text-7xl xl:text-8xl">
        <slot name="headline" />
      </h1>
    </div>
    <slot />
  </div>
</section>
