---
import Card from '@/components/card/Card.astro';

export interface Props {
  type: 'error' | 'warning' | 'info' | 'success';
}

const { type } = Astro.props;

const infoType = {
  error: {
    icon: `<svg fill="currentColor" xmlns="http://www.w3.org/2000/svg" height="24" width="24"><path d="M12 17q.425 0 .713-.288Q13 16.425 13 16t-.287-.713Q12.425 15 12 15t-.712.287Q11 15.575 11 16t.288.712Q11.575 17 12 17Zm-1-4h2V7h-2Zm1 9q-2.075 0-3.9-.788-1.825-.787-3.175-2.137-1.35-1.35-2.137-3.175Q2 14.075 2 12t.788-3.9q.787-1.825 2.137-3.175 1.35-1.35 3.175-2.138Q9.925 2 12 2t3.9.787q1.825.788 3.175 2.138 1.35 1.35 2.137 3.175Q22 9.925 22 12t-.788 3.9q-.787 1.825-2.137 3.175-1.35 1.35-3.175 2.137Q14.075 22 12 22Zm0-2q3.35 0 5.675-2.325Q20 15.35 20 12q0-3.35-2.325-5.675Q15.35 4 12 4 8.65 4 6.325 6.325 4 8.65 4 12q0 3.35 2.325 5.675Q8.65 20 12 20Zm0-8Z"/></svg>`,
    titleTC: '錯誤',
    themeColor: '#b52f74',
  },
  warning: {
    icon: `<svg fill="currentColor" xmlns="http://www.w3.org/2000/svg" height="24" width="24"><path d="M1 21 12 2l11 19Zm3.45-2h15.1L12 6ZM12 18q.425 0 .713-.288Q13 17.425 13 17t-.287-.712Q12.425 16 12 16t-.712.288Q11 16.575 11 17t.288.712Q11.575 18 12 18Zm-1-3h2v-5h-2Zm1-2.5Z"/></svg>`,
    titleTC: '警告',
    themeColor: '#c9ae28',
  },
  success: {
    icon: `<svg fill="currentColor" xmlns="http://www.w3.org/2000/svg" height="24" width="24"><path d="m10 16.4-4-4L7.4 11l2.6 2.6L16.6 7 18 8.4Z"/></svg>`,
    titleTC: '成功',
    themeColor: '#4af7c9',
  },
  info: {
    icon: `<svg fill="currentColor" xmlns="http://www.w3.org/2000/svg" height="24" width="24"><path d="M11 17h2v-6h-2Zm1-8q.425 0 .713-.288Q13 8.425 13 8t-.287-.713Q12.425 7 12 7t-.712.287Q11 7.575 11 8t.288.712Q11.575 9 12 9Zm0 13q-2.075 0-3.9-.788-1.825-.787-3.175-2.137-1.35-1.35-2.137-3.175Q2 14.075 2 12t.788-3.9q.787-1.825 2.137-3.175 1.35-1.35 3.175-2.138Q9.925 2 12 2t3.9.787q1.825.788 3.175 2.138 1.35 1.35 2.137 3.175Q22 9.925 22 12t-.788 3.9q-.787 1.825-2.137 3.175-1.35 1.35-3.175 2.137Q14.075 22 12 22Zm0-2q3.35 0 5.675-2.325Q20 15.35 20 12q0-3.35-2.325-5.675Q15.35 4 12 4 8.65 4 6.325 6.325 4 8.65 4 12q0 3.35 2.325 5.675Q8.65 20 12 20Zm0-8Z"/></svg>`,
    titleTC: '資訊',
    themeColor: '#2f9ab5',
  },
};

const { themeColor } = infoType[type];
const { icon } = infoType[type];
---

<aside class="infobox">
  <Card themeColor={themeColor}>
    <div class="flex flex-wrap items-center justify-center gap-4 md:flex-nowrap">
      <div set:html={icon} />
      <slot />
    </div>
  </Card>
</aside>

<style>
  .infobox {
    margin: 1.3333333em auto;
  }
</style>
