---
export interface Props {
  text?: string;
}
const { text } = Astro.props;
---

<div
  class=`flex w-fit items-center gap-2 rounded-full border border-border/60 bg-primary/10 px-4 py-2 text-xs tracking-wide opacity-80 transition-opacity hover:opacity-100 ${Astro.slots.icon ? 'pr-2' : ''}`
>
  <slot />
  {text && <span>{text}</span>}
  <slot name="icon" />
</div>
