<div data-pagefind-ignore class="comments">
  <script is:inline>
    function isDark() {
      const isSystemPerferDark =
        !('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches;
      const isLocalStorageDark = localStorage.theme === 'dark';
      return isLocalStorageDark || isSystemPerferDark;
    }
    function generateUtterance() {
      const theme = isDark() ? 'github-dark' : 'github-light';

      const s = document.createElement('script');
      s.src = 'https://utteranc.es/client.js';
      s.setAttribute('repo', 'riceball-tw/Blog-comment');
      s.setAttribute('issue-term', 'title');
      s.setAttribute('theme', theme);
      s.setAttribute('crossorigin', 'anonymous');
      s.setAttribute('async', '');
      document.querySelector('div.comments').innerHTML = '';
      document.querySelector('div.comments').appendChild(s);
    }

    document.addEventListener('DOMContentLoaded', generateUtterance());

    window.addEventListener('updateTheme', () => {
      generateUtterance();
    });
  </script>
</div>
