---
import BlogBase from '@/layouts/BlogBase.astro';
import Hero from '@/components/app/Hero.astro';
import SpotlightCardsGallery from '@/components/atoms/spotlight-cards-gallery/SpotlightCardsGallery.astro';
import SpotlightPostCard from '@/components/atoms/spotlight-post-card/SpotlightPostCard.astro';
import { Icon } from 'astro-icon/components'
import { Badge } from '@/components/atoms/badge/index.ts'
import Container from '@/components/atoms/container/Container.astro';
import { publishedPosts, sortedPostCategoryies } from '@/utils/getPosts.ts';

export async function getStaticPaths() {
  return sortedPostCategoryies.flatMap((category) => [{ params: { slug: category }, props: { posts: publishedPosts, categories: sortedPostCategoryies } }]);
}

const { slug } = Astro.params;
const { posts, categories } = Astro.props;
const avaliableCurrentCategoryPosts = posts
  .filter((post) => post.data.category === slug)
  .sort((a, b) => b.data.publishDate.getTime() - a.data.publishDate.getTime());
---

<BlogBase title={`搜尋文章分類：${slug}`} description={`搜尋文章分類`}>
  <Hero>
    <div slot="beforeHeadline" class="flex mx-0 md:mx-auto gap-4 md:gap-8">
      <Badge>
        <a data-cy="categories-link" class="flex gap-2 items-center" href="/post/categories/">
          <Icon 
          class=""
          name="material-symbols:category-outline-rounded"
          size={24}
          ></Icon>
            查看 { categories.length } 種類別
        </a>
      </Badge>
    </div>
    <Fragment slot="headline">
      搜尋文章分類：<span>{slug}</span>
    </Fragment>
  </Hero>
  <Container>
    <SpotlightCardsGallery>
      {
        avaliableCurrentCategoryPosts.map((post) => {
          const { data } = post 
          return (
            <SpotlightPostCard
              post={{
                categoryHref: `/post/categories/${post.data.category}/`,
                tagHrefs: post.data.tags.map((tag) => `/post/tags/${tag}/`),
                slug: post.slug,
                ...data,
              }}
            />
          )
        })
      }
    </SpotlightCardsGallery>
  </Container>
</BlogBase>
