---
import BlogBase from '@/layouts/BlogBase.astro';
import Hero from '@/components/app/Hero.astro';
import SpotlightCard from '@/components/atoms/spotlight-card/SpotlightCard.astro';
import SpotlightCardsGallery from '@/components/atoms/spotlight-cards-gallery/SpotlightCardsGallery.astro';
import Container from '@/components/atoms/container/Container.astro';
import { sortedPostCategoryies } from '@/utils/getPosts.ts';
---

<BlogBase title={`所有類別`} description={`所有文章的類別`}>
  <Hero>
    <Fragment slot="headline">所有類別共 {sortedPostCategoryies.length} 項</Fragment>
  </Hero>

  <Container>
    <SpotlightCardsGallery>
      {
        sortedPostCategoryies.map((tag) => (
          <ul>
            <li class="text-3xl">
              <SpotlightCard>
                <a data-cy="category-link" data-astro-prefetch href={`/post/categories/${tag}/`}>{tag}</a>
              </SpotlightCard>
            </li>
          </ul>
        ))
      }
    </SpotlightCardsGallery>
  </Container>
</BlogBase>
