---
import BlogBase from '@/layouts/BlogBase.astro';
import Hero from '@/components/app/Hero.astro';
import Card from '@/components/card/Card.astro';
import CardGallery from '@/components/card/CardGallery.astro';
import { getCollection } from 'astro:content';

const publishedPosts = await getCollection('post', (post) => (import.meta.env.PROD ? !post.data.isDraft : true));

const categories = [...new Set(publishedPosts.map((post) => post.data.category).flat())].sort((a, b) =>
  a.localeCompare(b, 'en', { sensitivity: 'base' }),
);
---

<BlogBase title={`所有類別`} description={`所有文章的類別`}>
  <Hero>
    <Fragment slot="headline">所有類別共 {categories.length} 項</Fragment>
  </Hero>

  <div class="mx-4">
    <CardGallery>
      {
        categories.map((tag) => (
          <ul>
            <li class="text-3xl">
              <Card>
                <a href={`/post/categories/${tag}/`}>{tag}</a>
              </Card>
            </li>
          </ul>
        ))
      }
    </CardGallery>
  </div>
</BlogBase>
