---
import Container from '@/components/atoms/container/Container.astro';
---

<section class="bg-cover bg-center bg-no-repeat sm:pt-[var(--mainNav-height)] text-left md:text-center">
  <Container>
    <div class="px-6 flex flex-col gap-16 py-32">
      <div class="flex flex-col gap-8">
        <slot name="beforeHeadline" />
        <h1 class="text-3xl md:text-7xl font-bold ">
          <slot name="headline" />
        </h1>
      </div>
      <slot />
    </div>
  </Container>
</section>
