---
import { cn } from "@/utils/shadcn";
import type { HTMLAttributes } from "astro/types";

export interface Props extends HTMLAttributes<"div"> {
	class?: string;
}

const { class: className, ...attrs } = Astro.props;
---

<div
  class:list={[cn("animate-pulse rounded-md border border-foreground/30 bg-background/80 dark:border-foreground/40", className)]}
  {...attrs}
>
  <slot />
</div>
