---
export interface Props {
  themeColor?: string;
  fillColor?: string;
}

const { themeColor, fillColor } = Astro.props;
const cardBorderColor = themeColor ? themeColor + 40 : '';
const cardShadowColor = themeColor ? themeColor + 20 : 'rgb(0 0 0 / 0.05)';
const cardFillColor = fillColor || '';
const cardHoverFillColor = themeColor ? themeColor + 40 : '';
---

<div
  class="filter backdrop-blur-xl relative rounded-lg border border-primary-200 dark:border-primary-600 hover:bg-white hover:border-primary-300 dark:hover:bg-primary-700 dark:hover:border-primary-600 transition"
>
  <div class="card rounded-lg p-6 transition-all">
    <slot />
  </div>
</div>

<style define:vars={{ cardHoverFillColor, cardBorderColor, cardFillColor, cardShadowColor }}>
  .card {
    background-color: var(--cardFillColor);
  }
  .card:hover {
    background-color: var(--cardHoverFillColor);
    background-color: var(--cardFillColor);
    border-color: var(--cardBorderColor);
    box-shadow: 0 0 30px 10px var(--cardShadowColor);
  }
</style>
