---
export interface Props {
  placeholderText: string;
}
const { placeholderText } = Astro.props;
---

<style is:inline>
  #pagefind-search .pagefind-ui__search-input::placeholder {
    opacity: 0.6;
    color: var(--pagefind-ui-placeholder);
    font-weight: normal;
  }
  #pagefind-search .pagefind-ui__search-input:focus {
    outline: none;
    background-color: var(--pagefind-ui-input-active)
  }

  #pagefind-search .pagefind-ui__form::before {
    background-color: var(--pagefind-ui-border);
  }

</style>

<div class="min-h-16 container mx-auto text-left mt-0 md:mt-8" id="pagefind-search"></div>

<script define:vars={{placeholderText}}>
  function initPagefind() {
    const pagefindElement = document.getElementById('pagefind-search');
    if (pagefindElement?.dataset.initialized) return;
    pagefindElement?.setAttribute("data-initialized", 'true')
    // External Code, Skip lint
    // https://pagefind.app/docs/ui-usage/
    // @ts-ignore-next-line
    // eslint-disable-next-line no-new, no-undef
    new PagefindUI({
      element: "#pagefind-search",
      ranking: {
        pageLength: 0.25
      },
      translations: {
        placeholder: placeholderText
      },
      showSubResults: true,
      showImages: false,
      resetStyles: false,
      excerptLength: 60,
      sort: { date: "desc" },
    });
  }

  initPagefind()
</script>