---
import Base from '@/layouts/Base.astro';
import SolidButton from '@/components/button/Solid.astro';
import OutlinedButton from '@/components/button/Outlined.astro';

const title = '404 頁面';
const description = '這個網頁並不存在';
---

<Base title={title} description={description}>
  <section class="text-center min-h-[inherit] flex items-center justify-center flex-col">
    <h1 class="text-3xl">
      <div class="text-8xl font-semibold mb-8">404</div>
    </h1>
    <p class="text-lg">您所搜尋的頁面並不存在</p>
    <div class="my-8 mt-12 flex gap-4">
      <SolidButton href="/">回首頁</SolidButton>
      <OutlinedButton href="/post">找所有文章</OutlinedButton>
    </div>
  </section>
</Base>
