---
import Base from '@/layouts/Base.astro';
import Button from '@/components/app/Button.astro';
import Clickable from '@/components/app/Clickable.astro';

const title = '404 頁面';
const description = '這個網頁並不存在';
---

<Base title={title} description={description}>
  <section class="flex min-h-[inherit] flex-col items-center justify-center text-center">
    <h1 class="text-3xl">
      <div class="mb-8 text-8xl font-semibold">404</div>
    </h1>
    <p class="text-lg">您所搜尋的頁面並不存在</p>
    <div class="my-8 mt-12 flex gap-4">
      <Clickable>
        <Button size="lg" theme="outline" href="/">回首頁</Button>
      </Clickable>
      <Clickable>
        <Button size="lg" href="/post">所有文章</Button>
      </Clickable>
    </div>
  </section>
</Base>
