---
import Base from '@/layouts/Base.astro';
import Hero from '@/components/app/Hero.astro';
import Card from '@/components/card/Card.astro';

const events = [
  {
    time: '2023-07 ~ 2023-09',
    title: '兵役',
    description: '期間大機率不會有更新 🫡 🪖',
  },
  {
    time: '2022-07 ~ 2023-07',
    title: '六角學院線上助教',
    description: `於 <a class="underline" href="https://www.hexschool.com/">六角學院</a> 擔任助教，期間負責近所有前端課程的問題回覆與作業批改工作，其中包含： <ul style="list-style-type: '-  '" class="list-inside marker:text-primary-600"><li><a href="https://www.hexschool.com/courses/html_css.html">HTML 與 CSS 開發網站課程</a></li><li><a href="https://www.hexschool.com/courses/bootstrap5.html">Bootstrap 5 網頁切版整合術課程</a></li><li><a href="https://www.hexschool.com/courses/jquery_ani.html">jQuery 打造互動性網頁效果課程</a></li><li><a href="https://www.hexschool.com/courses/javascript.html">JS 基礎課程</a></li><li><a href="https://www.hexschool.com/courses/js-training.html">JS 工程師養成直播班 2022 秋季</a></li><li><a href="https://www.hexschool.com/vue/">Vue 3 實戰影音課程</a></li><li><a href="https://www.hexschool.com/courses/react.html#recommend">React 實戰影音課程</a></li><li><a href="https://www.hexschool.com/2022/06/27/2022-06-27-react-study-circle/">React 讀書會</a></li></ul>`,
  },
];
---

<Base title={'關於'}>
  <Hero>
    <span slot="headline" style="max-width: 1300px;" class="inline-block"
      >著重於<span class="text-secondary dark:text-secondary-light">圖像化</span>以及<span
        class="font-bold text-secondary dark:text-secondary-light">實例操作</span
      >降低每次學習新事物的成本</span
    >
  </Hero>

  <section class="mx-4 mb-36 grid grid-cols-1 gap-y-4 md:grid-cols-2 md:gap-4">
    <h2 class="sr-only">關於本網站</h2>
    <Card>
      <h3 class="sr-only">網站描述</h3>
      <img
        style="max-width: 120px;"
        class="mb-8 -mt-8"
        width="300"
        height="263"
        src="/images/brand/logo.svg"
        alt="WEB DONG LOGO"
      />
      <p class="text-lg">
        哈囉，我是<a class="underline" href="https://weweweb.pages.dev/">宗瑋</a><br />
        藉由用淺顯易懂的方式記錄網頁事物，並且藉由搭配動畫和圖片加深學習印象。目前台灣的開發中文資源有限，因此想把各種知識消化與搬運到中文環境讓入門工程師能夠省略大量時間與金錢踩坑學習。
        <br />
        <br />
        有興趣可以到 <a class="underline" href="https://github.com/riceball-tw/astro-blog">GitHub Repo</a> 上瞭解本專案或聯絡我。
      </p>
    </Card>

    <Card>
      <h3 class="sr-only">網站事件</h3>
      <ol class="relative border-l border-primary-200 text-lg dark:border-primary-700">
        {
          events.map((event) => (
            <li class="mb-10 ml-4">
              <div class="border-primary-300 bg-primary-300 dark:border-primary-900 dark:bg-primary-700 absolute -left-1.5 mt-1.5 h-3 w-3 rounded-full border" />
              <time class="text-primary-400 dark:text-primary-500 text-sm font-normal leading-none">{event.time}</time>
              <h3 class="text-primary-900 my-2 text-xl font-semibold dark:text-white">{event.title}</h3>
              <p set:html={event.description} class="mb-4" />
            </li>
          ))
        }
      </ol>
    </Card>
  </section>
</Base>
