---
import BlogBase from '@/layouts/BlogBase.astro';
import Hero from '@/components/app/Hero.astro';
import PostCard from '@/components/card/PostCard.astro';
import Card from '@/components/card/Card.astro';
import Button from '@/components/app/Button.astro';
import { getCollection } from 'astro:content';
import Logo from '@/components/app/Logo.astro';
import CardGallery from '@/components/card/CardGallery.astro';

const publishedPosts = await getCollection('post', (post) => (import.meta.env.MODE === "production" ? !post.data.isDraft : true));
const toolboxSites = await getCollection('toolbox');

const problems = [
  {
    titleTC: '技術困難',
    excerpt:
      '網頁開發涉及的技術領域十分廣泛且迭代快速，從前端到後端，不同的程式語言、套件框架、版本相容性技術迭代等難題。',
    icon: {
      name: 'material-symbols:computer-outline-rounded',
      title: '電腦圖示',
    },
    themeColor: '#819ff8',
  },
  {
    titleTC: '設計瓶頸',
    excerpt:
      '包含了使用者體驗與介面設計，如何讓網頁美觀易用，以及如何讓網頁更符合使用者的需求，相較於傳統平面媒材具備更大的挑戰與發展空間與挑戰。',
    icon: {
      name: 'material-symbols:design-services-outline-rounded',
      title: '設計圖示',
    },
    themeColor: '#f8bb81',
  },
  {
    titleTC: '內容卡關',
    excerpt: '定期產生新穎、有趣與有價值的內容保持網頁的活力，滿足使用者的需求透過各種手段將內容推廣出去。',
    icon: {
      name: 'material-symbols:edit-document-outline-rounded',
      title: '編寫文件圖示',
    },
    themeColor: '#f881ce',
  },
  {
    titleTC: '專案管理挑戰',
    excerpt: '綜合以上領域，如何橫跨領域相互協調溝通，確保網頁建構順利進行、蒐集與分析用戶的需求，開出滿足用戶的需求。',
    icon: {
      name: 'material-symbols:theater-comedy-outline-rounded',
      title: '溝通圖示',
    },
    themeColor: '#a381f8',
  },
  {
    titleTC: '創意與動力枯竭',
    excerpt: '如何在不斷更新的技術與潮流中，激發創意與動力，創造出新的價值？',
    icon: {
      name: 'material-symbols:lightbulb-outline-rounded',
      title: '燈泡圖示',
    },
    themeColor: '#a6a6a6',
  },
  {
    titleTC: '更多面向發展中',
    excerpt: '網頁建構涉及的領域十分廣泛，網頁東東將持續探索更多面向，並提供更多有價值的內容。',
    icon: {
      name: 'material-symbols:category-outline-rounded',
      title: '不同形狀積木圖示',
    },
    themeColor: '#a3f881',
  },
];
---

<BlogBase title={'關於'}>
  <Hero>
    <span slot="headline" style="max-width: 1200px;" class="inline-block">
      是什麼原因導致網頁建構上<span class="text-secondaryOld dark:text-secondaryOld-light">
        遭遇瓶頸
        <span style="width: 1.3em; height: 1em" class="relative inline-block animate-bounce">
          <svg
            class="absolute left-0 top-1/2 inline-block -translate-y-1/2 transform"
            style="width: 1.5em; height: 1.5em"
            xmlns="http://www.w3.org/2000/svg"
            width="32"
            height="32"
            viewBox="0 0 24 24"
            ><path
              fill="currentColor"
              d="M7.5 16.5H9V15h6v1.5h1.5V15H15v-1.5H9V15H7.5v1.5ZM8 12h1.5V9.5H8V12Zm6.5 0H16V9.5h-1.5V12ZM4 20q-.825 0-1.413-.588T2 18V6q0-.825.588-1.413T4 4h5.175q.4 0 .763.15t.637.425L12 6h8q.825 0 1.413.588T22 8v10q0 .825-.588 1.413T20 20H4Zm0-2h16V8H4v10Zm0 0V8v10Z"
            ></path></svg
          ></span
        >
      </span>
      ？以及如何突破
      <svg
        style="width: 1.5em; height: 1.5em"
        class="inline-block align-middle"
        xmlns="http://www.w3.org/2000/svg"
        width="32"
        height="32"
        viewBox="0 0 24 24"
        ><path
          fill="currentColor"
          d="M9 19v-2h2q-.375-3.45-2.95-5.725T2 9V7q3.225 0 5.925 1.7T12 13.3q.95-2.025 2.5-3.588T17.975 7H14V5h7v7h-2V8.7q-2.325 1.425-4 3.525T13 17h2v2H9Z"
        ></path></svg
      >？</span
    >
  </Hero>

  <div class="flex flex-col gap-4">
    <section class="mx-8 grid grid-cols-1 gap-x-0 gap-y-4 md:grid-cols-3 md:gap-x-4 md:gap-y-0">
      <CardGallery class={'col-span-2'}>
        {
          problems.map((problem) => <PostCard post={problem} />)
        }
      </CardGallery>
      <Card class="relative overflow-hidden">
        <div
          class="from-primary-50/30 before:absolute before:left-0 before:top-0 before:block before:h-2/3 before:w-full before:bg-gradient-to-b before:content-[''] dark:from-primary-1000"
        >
          <div class="relative z-10">
            <h2 class="mb-4 text-xl font-medium">「網頁東東」專門解決你對「網頁東東」的疑惑</h2>
            <p class="max-w-prose">
              製作網頁不只考驗單一領域的深度，也同時涉及多項領域，需要多方的整合知識和技能。在建構過程中，會遇到各種挑戰，包括設計、開發、內容創作……等方面。網頁東東使命是幫助開發者們克服其中挑戰，並提供更輕鬆且直覺的學習管道。
            </p>
          </div>

          <Logo
            class="absolute bottom-0 right-0 -z-10 translate-x-1/3 translate-y-1/3 -rotate-12 transform opacity-60 md:opacity-100"
            width="800"
            height="800"
          />
        </div>
      </Card>
    </section>
    <section class="mx-8 grid grid-cols-1 gap-4 md:grid-cols-3">
      <div class="col-span-2 grid grid-cols-1 gap-4 md:grid-cols-2">
        <Card>
          <div class="h-full flex justify-center items-center">
            <a data-astro-prefetch class="inline-flex flex-col transition-opacity hover:opacity-80" href="/post/"
            ><span class="text-4xl font-bold">{publishedPosts.length - 1}+</span> 篇部落格文章</a
            >
          </div>
        </Card>
        <Card>
          <div class="h-full flex justify-center items-center">
            <a data-astro-prefetch class="inline-flex flex-col transition-opacity hover:opacity-80" href="/toolbox/"
              ><span class="text-4xl font-bold">{toolboxSites.length - 1}+</span> 則網站資源</a
            >
          </div>
        </Card>
      </div>
      <Card>
        <div class="col-start-2">
          <div class="mb-8">
            <h2 class="mb-4 text-xl font-medium">準備籌畫推出「東東報」</h2>
            <p class="max-w-prose">
              這是一個伴隨讀者一起成長的長期計畫，如果您有任何問題，歡迎在文章中留言或來信。您也可以先訂閱
              <a class="underline" href="/rss.xml">RSS</a>，不定期發布最新消息。
            </p>
          </div>

          <div class="flex flex-wrap gap-4">
            <input
              type="text"
              class="rounded-full border-2 border-current bg-transparent p-4 disabled:cursor-not-allowed disabled:opacity-40 w-full"
              placeholder="東東報規劃中……"
              disabled
            />
            <Button as='button' disabled>訂閱電子報</Button>
          </div>
        </div>
      </Card>
    </section>
  </div>
</BlogBase>
