---
import { getCollection } from 'astro:content';
import Base from '@/layouts/Base.astro';
import PostCard from '@/components/card/PostCard.astro';
import CardGallery from '@/components/card/CardGallery.astro';
import Outlined from '@/components/button/Outlined.astro';
import Clickable from '@/components/app/Clickable.astro';

const posts = await getCollection('post');
const firstSixAvaliablePosts = posts
  .sort((a, b) => b.data.publishDate.getTime() - a.data.publishDate.getTime())
  .filter((post, index) => !post.data.isDraft && index + 1 <= 6);
---

<Base>
  <div
    style="background-image: url('/images/brand/hero.svg');"
    class="bg-cover bg-fixed bg-no-repeat sm:pt-[var(--mainNav-height)]"
  >
    <section class="rounded-xl py-24">
      <div class="mx-auto mb-8 max-w-[1200px] px-4 md:px-0">
        <h1
          style="background-clip: text;
          -webkit-background-clip: text;"
          class="mx-auto mb-8 bg-gradient-to-b from-primary-800 to-primary-700 bg-clip-text py-6 text-left text-5xl font-black leading-tight text-transparent dark:from-primary-50 dark:to-primary-300 md:text-center md:text-8xl md:leading-tight"
        >
          用最<span class="text-secondary dark:text-secondary-light">簡單親切</span>的方式描述如何<span
            class="text-secondary dark:text-secondary-light">設計與架構網頁</span
          >
        </h1>
        <div class="flex gap-4">
          <Clickable className="w-full">
            <Outlined className=" w-full inline-block" href="/post">所有文章</Outlined>
          </Clickable>
          <Clickable>
            <Outlined className="inline-block" href="https://6lq5056dq0f.typeform.com/to/lxR072rZ">聯絡我</Outlined>
          </Clickable>
        </div>
      </div>
    </section>
  </div>

  <section class="relative mx-auto h-full rounded-3xl px-4">
    <h2 class="sr-only">最新文章</h2>
    <CardGallery>
      {
        firstSixAvaliablePosts.map((post) => (
          <PostCard
            post={{
              featureIcon: post.data.featureIcon,
              slug: post.slug,
              titleTC: post.data.titleTC,
              excerpt: post.data.excerpt,
              publishDate: post.data.publishDate,
              themeColor: post.data.themeColor,
              tags: post.data.tags,
              category: post.data.category,
            }}
          />
        ))
      }
    </CardGallery>
  </section>
</Base>
