---
import type { GetStaticPaths } from 'astro'
import { getCollection } from 'astro:content';
import globalConfig from '@/globalConfig.ts';
import BlogBase from '@/layouts/BlogBase.astro';
import PostCard from '@/components/card/PostCard.astro';
import CardGallery from '@/components/card/CardGallery.astro';
import Hero from '@/components/app/Hero.astro';

export const getStaticPaths= (async ({ paginate }) => {
  const { paginationSize } = globalConfig.setting;
  const publishedPosts = await getCollection('post', (post) => (import.meta.env.PROD ? !post.data.isDraft : true));
  const dateSortedPublishedPosts = publishedPosts.sort(
    (a, b) => b.data.publishDate.getTime() - a.data.publishDate.getTime(),
  )
  return paginate(dateSortedPublishedPosts, { pageSize: paginationSize });
}) satisfies GetStaticPaths

const { page } = Astro.props;
---

<BlogBase title={`文章第 ${page.currentPage} 頁`} description={'文章頁籤'}>
  <Hero>
    <Fragment slot="headline">第 {page.currentPage} 頁</Fragment>
  </Hero>
  <section class="px-4">
    <CardGallery>
      {
        page.data.map((post) => (
          <PostCard
            post={{
              slug: post.slug,
              featureIcon: post.data.featureIcon,
              titleTC: post.data.titleTC,
              excerpt: post.data.excerpt,
              publishDate: post.data.publishDate,
              themeColor: post.data.themeColor,
              category: post.data.category,
              categoryHref: `/post/categories/${post.data.category}/`,
              tags: post.data.tags,
              tagHrefs: post.data.tags.map((tag) => `/post/tags/${tag}/`),
            }}
          />
        ))
      }
    </CardGallery>
  </section>
</BlogBase>
