---
import { getCollection } from 'astro:content';
import Base from '@/layouts/Base.astro';
import PostCard from '@/components/card/PostCard.astro';
import CardGallery from '@/components/card/CardGallery.astro';
import PageBanner from '@/components/banner/Page.astro';

export async function getStaticPaths({ paginate }) {
  const posts = await getCollection('post');

  const dateSortedPublishedPosts = posts
    .filter((post) => !post.data.isDraft)
    .sort((a, b) => b.data.publishDate.getTime() - a.data.publishDate.getTime());

  return paginate(dateSortedPublishedPosts, { pageSize: 12 });
}

const { page } = Astro.props;
const title = `文章第 ${page.currentPage} 頁`;
const description = '文章頁籤';
---

<Base title={title} description={description}>
  <!--Display the current page number. Astro.params.page can also be used!-->

  <PageBanner title={title} />
  <section class="px-4">
    <CardGallery>
      {
        page.data.map((post) => (
          <PostCard
            post={{
              slug: post.slug,
              featureIcon: post.data.featureIcon,
              titleTC: post.data.titleTC,
              excerpt: post.data.excerpt,
              publishDate: post.data.publishDate,
              themeColor: post.data.themeColor,
              tags: post.data.tags,
              category: post.data.category,
            }}
          />
        ))
      }
    </CardGallery>
  </section>
</Base>
