---
import type { GetStaticPaths } from 'astro'
import globalConfig from '@/globalConfig.ts';
import BlogBase from '@/layouts/BlogBase.astro';
import SpotlightPostCard from '@/components/atoms/spotlight-post-card/SpotlightPostCard.astro';
import SpotlightCardsGallery from '@/components/atoms/spotlight-cards-gallery/SpotlightCardsGallery.astro';
import Hero from '@/components/app/Hero.astro';
import { dateSortedPublishedPosts } from '@/utils/getPosts.ts'

export const getStaticPaths= (async ({ paginate }) => {
  const { paginationSize } = globalConfig.setting;
  return paginate(dateSortedPublishedPosts, { pageSize: paginationSize });
}) satisfies GetStaticPaths

const { page } = Astro.props;
---

<BlogBase title={`文章第 ${page.currentPage} 頁`} description={'文章頁籤'}>
  <Hero>
    <Fragment slot="headline">第 {page.currentPage} 頁</Fragment>
  </Hero>
  <section class="px-4">
    <SpotlightCardsGallery>
      {
        page.data.map((post) => {
          const { slug, data } = post 
          return (
          <SpotlightPostCard
            post={{
              categoryHref: `/post/categories/${post.data.category}/`,
              tagHrefs: post.data.tags.map((tag) => `/post/tags/${tag}/`),
              slug,
              ...data,
            }}
          />
          )
        })
      }
    </SpotlightCardsGallery>
  </section>
</BlogBase>
