---
import BlogBase from '@/layouts/BlogBase.astro';
import Hero from '@/components/app/Hero.astro';
import SpotlightCardsGallery from '@/components/atoms/spotlight-cards-gallery/SpotlightCardsGallery.astro';
import SpotlightPostCard from '@/components/atoms/spotlight-post-card/SpotlightPostCard.astro';
import { Icon } from 'astro-icon/components'
import { Badge } from '@/components/atoms/badge/index.ts'
import Container from '@/components/atoms/container/Container.astro';
import { dateSortedPublishedPosts, sortedPostCategoryies, sortedPostTags } from '@/utils/getPosts.ts';
---

<BlogBase title={'所有文章'} description={`所有文章共 ${dateSortedPublishedPosts.length} 篇`}>
  <Hero>
    <div slot="beforeHeadline" class="flex flex-wrap mx-0 md:mx-auto gap-4 md:gap-8">
      <a data-cy="categories-link" href="/post/categories/">
        <Badge>
          <span class="flex items-center gap-2">
            <span class="text-base mb-0.5 font-bold">@</span>
            <span>查看 { sortedPostCategoryies.length } 種類別</span>
          </span>
        </Badge>
      </a>
      <a data-cy="tags-link" href="/post/tags/">
        <Badge>
          <span class="flex items-center gap-2">
            <span class="text-base font-bold">#</span>
            <span>查看 { sortedPostTags.length } 種標籤</span>
          </span>
        </Badge>
      </a>
    </div>
    <Fragment slot="headline">
      所有文章共 {dateSortedPublishedPosts.length} 篇
    </Fragment>

  </Hero>
  <Container>
    <section>
      <h2 class="sr-only">所有文章列表</h2>
      <SpotlightCardsGallery>
        {
          dateSortedPublishedPosts.map((post) => {
            const { data } = post
            return (
            <SpotlightPostCard
            post={{
                categoryHref: `/post/categories/${post.data.category}/`,
                tagHrefs: post.data.tags.map((tag) => `/post/tags/${tag}/`),
                slug: post.slug,
                ...data
              }}
            />
          )
          })
        }
      </SpotlightCardsGallery>
    </section>
  </Container>
</BlogBase>
