---
import { getCollection } from 'astro:content';
import Base from '@/layouts/Base.astro';
import Hero from '@/components/app/Hero.astro';
import CardGallery from '@/components/card/CardGallery.astro';
import PostCard from '@/components/card/PostCard.astro';

const publishedPosts = await getCollection('post', (data) => !data.data.isDraft);
const dateSortedPublishedPosts = publishedPosts.sort(
  (a, b) => b.data.publishDate.getTime() - a.data.publishDate.getTime(),
);
---

<Base title={'所有文章'} description={`所有文章共 ${dateSortedPublishedPosts.length} 篇`}>
  <Hero>
    <Fragment slot="headline">
      所有文章共 {dateSortedPublishedPosts.length} 篇
    </Fragment>
  </Hero>
  <section class="px-4">
    <h2 class="sr-only">所有文章列表</h2>
    <CardGallery>
      {
        dateSortedPublishedPosts.map((post) => (
          <PostCard
            post={{
              slug: post.slug,
              featureIcon: post.data.featureIcon,
              titleTC: post.data.titleTC,
              excerpt: post.data.excerpt,
              publishDate: post.data.publishDate,
              themeColor: post.data.themeColor,
              tags: post.data.tags,
              category: post.data.category,
            }}
          />
        ))
      }
    </CardGallery>
  </section>
</Base>
