---
import { getCollection } from 'astro:content';
import Base from '@/layouts/Base.astro';
import PageBanner from '@/components/banner/Page.astro';
import CardGallery from '@/components/card/CardGallery.astro';
import PostCard from '@/components/card/PostCard.astro';

const posts = await getCollection('post');

const dateSortedPublishedPosts = posts
  .filter((post) => !post.data.isDraft)
  .sort((a, b) => b.data.publishDate.getTime() - a.data.publishDate.getTime());

const title = '所有文章';
const description = '所有種類的文章';
---

<Base title={title} description={description}>
  <PageBanner title={`${title} (${dateSortedPublishedPosts.length})`} />
  <section class="px-4">
    <CardGallery>
      {
        dateSortedPublishedPosts.map((post) => (
          <PostCard
            post={{
              slug: post.slug,
              featureIcon: post.data.featureIcon,
              titleTC: post.data.titleTC,
              excerpt: post.data.excerpt,
              publishDate: post.data.publishDate,
              themeColor: post.data.themeColor,
              tags: post.data.tags,
              category: post.data.category,
            }}
          />
        ))
      }
    </CardGallery>
  </section>
</Base>
