---
const { tags } = Astro.props;

export interface Props {
  tags: string[];
  isLink: boolean;
}

const { isLink } = Astro.props;
const Element = isLink ? 'a' : 'div';
---

<ul class="flex gap-4 whitespace-nowrap">
  {
    tags.map((tag: string) => (
      <li>
        <Element
          class="capitalize opacity-40 hover:opacity-100"
          {...(isLink
            ? {
                href: `/post/tags/${tag}`,
              }
            : {})}
        >
          # {tag}
        </Element>
      </li>
    ))
  }
</ul>
