---
const { tags } = Astro.props;

export interface Props {
  tags: string;
}
---

<ul class="flex gap-4 whitespace-nowrap">
  {
    tags.map((tag: string) => (
      <li>
        <a class="capitalize opacity-40 hover:opacity-100" href={`${import.meta.env.BASE_URL}post/tags/${tag}`}>
          # {tag}
        </a>
      </li>
    ))
  }
</ul>
