---
import type { CategoryList } from '@/types'
import { translateCategory, type LanguageKey } from '@/utils/i18n.ts';
import * as m from "@/paraglide/messages";

export interface Props extends CategoryList {}

const { category, categoryHref } = Astro.props;
const CategoryElement = categoryHref ? 'a' : 'div';
const translatedCategory = translateCategory(category || Astro.currentLocale as LanguageKey, Astro.currentLocale as LanguageKey)
---

<CategoryElement
  data-astro-prefetch
  class="p-1.5 relative flex gap-1 mr-4 whitespace-nowrap capitalize opacity-60 hover:opacity-100"
  {...categoryHref && {
    href: categoryHref,
  }}
>
  <span>@</span>
  <span data-cy="category" data-pagefind-filter={`${m.swift_whole_pony_dare()}:${translatedCategory}`}>{translatedCategory}</span>
</CategoryElement>
