---
import type { CategoryList } from '@/types'

export interface Props extends CategoryList {}

const { category, categoryHref } = Astro.props;
const CategoryElement = categoryHref ? 'a' : 'div';
---

<CategoryElement
  class="p-1 relative mr-4 whitespace-nowrap capitalize opacity-40 hover:opacity-100"
  {...categoryHref && {
    href: categoryHref,
  }}
>
<span>@</span>
<span data-pagefind-filter="category">{category}</span>
</CategoryElement>
