---
import type { CollectionEntry } from 'astro:content';
import Accordion from '@/components/atoms/accordion/Accordion.astro'

export interface Props {
  currentPost: CollectionEntry<'post'>;
  postsInSeries: CollectionEntry<'post'>[];
}
const { currentPost, postsInSeries } = Astro.props
---

<div data-cy="series-summary" data-pagefind-ignore="all">

<Accordion isOpened={false} summary={`${currentPost.data.series}`}>
  <ul>
  {postsInSeries.map(({data, slug}) => {
   const isCurrentPost = currentPost.slug === slug
   return (
      <li>
        <a class={`hover:underline no-underline hover:opacity-100 inline-block ${isCurrentPost ? 'opacity-100 text-primary' : 'opacity-40'}`}  data-cy={`${isCurrentPost ? "series-active" : ''}`}  href={`/post/${slug}`}>{data.titleTC}</a>
      </li>
    )
  })}
  </ul>
  </Accordion>
</div>
