---
import type { CollectionEntry } from 'astro:content';

export interface Props {
  currentPost: CollectionEntry<'post'>;
  postsInSeries: CollectionEntry<'post'>[];
}
const { currentPost, postsInSeries } = Astro.props
---

<details open class="p-4 not-prose" data-pagefind-ignore="all">
  <summary data-cy="series-summary" class="p-3 font-bold">{currentPost.data.series}</summary> 
  <ul style="max-height: 50vh" class="overflow-auto border-l border-primary">
  {postsInSeries.map(({data, slug}) => {
   const isCurrentPost = currentPost.slug === slug
   return (
      <li>
        <a data-cy={`${isCurrentPost ? "series-active" : ''}`} class={`hover:underline hover:opacity-100 p-2 pl-4 inline-block ${isCurrentPost ? 'opacity-100 text-primary' : 'opacity-40'}`} href={`/post/${slug}`}>{data.titleTC}</a>
      </li>
    )
  })}
  </ul>
</details>