---
import type { TagsList } from '@/types'

export interface Props extends TagsList {}

const { tags, tagHrefs } = Astro.props;
---

{tags && <ul data-cy="tags" class="flex gap-4 whitespace-nowrap">
  {
    tagHrefs ? tagHrefs.map((href, index) => (
      <li data-cy="tag">
        <a data-cy="tag-link" data-astro-prefetch class="p-1.5 inline-block capitalize opacity-60 hover:opacity-100" {href}>
        <a data-astro-prefetch class="p-1.5 inline-block capitalize opacity-60 hover:opacity-100" {href}>
          <span>#</span> <span data-pagefind-filter="tag">{tags[index]}</span>
        </a>
      </li>
    )) : tags.map((tag) => (
      <li data-cy="tag">
        <span class="p-1.5 inline-block capitalize opacity-60 hover:opacity-100">
          <span>#</span> <span data-pagefind-filter="tag">{tag}</span>
        </span>
      </li>
    ))
  }
</ul>
}