---
import type { BaseLayout } from '@/types';
import '@/styles/global.css';
import { ViewTransitions } from 'astro:transitions';
import GoogleAnalytic from '@/components/app/head/GoogleAnalytic.astro'
import DefaultHead from '@/components/app/head/DefaultHead.astro'
import ThemeInit from '@/components/app/head/ThemeInit.astro'
import GodRay from '@/components/app/GodRay.astro'

export interface Props extends BaseLayout {}

const { themeColor } = Astro.props;
---

<script>
  import { getCurrentGlobalTheme, setGlobalTheme } from '@/helper/globalTheme';

  const localStorageTheme = localStorage.theme;
  setGlobalTheme(getCurrentGlobalTheme(localStorageTheme));
  document.addEventListener('astro:after-swap', () => {
    setGlobalTheme(getCurrentGlobalTheme(localStorageTheme));
  });
</script>



<html transition:persist lang="zh-Hant-TW">
  <head>
    <ThemeInit />
    <DefaultHead { ...Astro.props}/>
    <ViewTransitions fallback="none" />
    <GoogleAnalytic />
    <slot name="head" />
  </head>
  <body
    class="bg-primary-50 from-white bg-cover bg-center bg-no-repeat text-primary-800 selection:bg-secondary selection:text-primary-50 dark:bg-primary-1000 dark:from-primary-800 dark:to-primary-900 dark:text-primary-50"
  >
    <slot />
    <GodRay {themeColor}/>
  </body>
</html>
