---
import Head from '@/components/app/Head.astro';
import Navbar from '@/components/app/Navbar.astro';
import Footer from '@/components/app/Footer.astro';

export interface Props {
  title: string;
  description: string;
  themeColor?: string;
  thumbnail?: {
    width?: number;
    height?: number;
    src: string;
    alt: string;
  };
}

const { title, description, themeColor, thumbnail } = Astro.props;
const themeColorTransparent = (themeColor || '#534af7') + 30;
---

<!DOCTYPE html>
<html lang="zh-Hant-TW">
  <head>
    <slot name="head">
      <Head title={title} description={description} thumbnail={thumbnail} />
    </slot>
  </head>
  <body
    class={`bg-primary-50 from-white text-primary-800 dark:bg-primary-800 dark:from-primary-800 dark:to-primary-900
   dark:text-primary-50 bg-no-repeat bg-cover bg-center body selection:bg-accent selection:text-primary-50  `}
  >
    <Navbar themeColor={themeColor} />
    <div class="min-h-screen">
      <slot />
    </div>
    <Footer />
  </body>
</html>
<style define:vars={{ themeColorTransparent }}>
  .body::before {
    content: '';
    display: block;
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: linear-gradient(var(--themeColorTransparent), transparent 100%);
  }
</style>
