---
import type { BaseLayout } from '@/types';
import '@/styles/global.css';
import GoogleAnalytic from '@/components/app/head/GoogleAnalytic.astro'
import DefaultHead from '@/components/app/head/DefaultHead.astro'
import ThemeInit from '@/components/app/head/ThemeInit.astro'
import GodRay from '@/components/atoms/godray/GodRay.astro'

export interface Props extends BaseLayout {}

const { themeColor } = Astro.props;
---

<script>
  import { getCurrentGlobalTheme, setGlobalTheme } from '@/helper/globalTheme.ts';

  const localStorageTheme = localStorage.theme
  setGlobalTheme(getCurrentGlobalTheme(localStorageTheme));
</script>



<html class="scroll-smooth motion-reduce:scroll-auto" lang={Astro.currentLocale}>
  <head>
    <ThemeInit />
    <DefaultHead { ...Astro.props}/>
    <GoogleAnalytic />
    <slot name="head" />
  </head>
  <body
    class="bg-background text-foreground selection:bg-primary selection:text-primary-foreground"
  >
    <slot />
    <GodRay {themeColor}/>
  </body>
</html>
