---
import type { BaseLayout } from '@/types/layouts';
import Navbar from '@/components/organisms/global-navbar/GlobalNavbar.astro';
import GlobalFooter from '@/components/organisms/global-footer/GlobalFooter.astro';
import Base from '@/layouts/Base.astro';

export interface Props extends BaseLayout {}
---

<Base {...Astro.props}>
  <slot name="head" slot="head"/>
  <Navbar />
  <div class="min-h-screen">
    <slot />
  </div>
  <GlobalFooter />
</Base>
