---
import type { BaseLayout } from '@/types';
import Navbar from '@/components/app/Navbar.astro';
import Footer from '@/components/app/Footer.astro';
import Base from '@/layouts/Base.astro';
import Search from '@/components/preact/Search';

export interface Props extends BaseLayout {}
---

<Base {...Astro.props}>
  <Navbar>
    <Search client:media="(min-width: 1024px)" />
  </Navbar>
  <div class="min-h-screen">
    <slot />
  </div>
  <Footer />
</Base>
