---
const { title } = Astro.props;
---

<section class="px-8 md:py-48 py-24 items-center justify-between">
  <h1 class="leading-normal lg:leading-normal text-3xl lg:text-6xl md:h-auto font-medium" set:html={title} />
</section>
