---
const { title } = Astro.props;
---

<section class="grid py-32 grid-cols-1 md:grid-cols-2 items-center justify-between px-8">
  <h1 class="leading-normal md:leading-normal text-2xl md:text-3xl" set:html={title} />
  <slot />
</section>
